ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

img {
    width: 200px;
    height: auto;
}

#about-content {
    margin: 0 auto;
    margin-top: 10px;
    text-align: justify;
    width: 30em;
    
}

#profile {
    width: 300px;
}

footer {
    background-color: aliceblue;
    text-align: left;
    overflow: hidden;
}
